{% extends base %}

{% block preamble %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<link rel="icon" type="image/png" href="https://cdn.prod.website-files.com/690e2a44303093ad8549854b/69123f033bc348f79cd2d7a4_flyte-logo-32.png">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NPRBRYCESD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NPRBRYCESD');
</script>
{% endblock %}

{% block postamble %}
<style>
  html, body {
    background-color: #050310 !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
</style>
{% endblock %}

{% block contents %}
{{ embed(roots.main) }}
{% endblock %}
