name: Integration Tests

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *" # This schedule runs at 10am UTC every day
  pull_request:
    paths:
      - 'examples/integration_tests.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
      fail-fast: false
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up the environment
        uses: ./.github/actions/setup-python-env
        with:
          python-version: ${{ matrix.python-version }}
      - name: Cache uv packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/uv
          key: uv-${{ runner.os }}-${{ matrix.python-version }}
      - name: Install flyte & Build wheel
        run: |
          export SETUPTOOLS_SCM_PRETEND_VERSION="9.9.9"
          make dist
      - name: Install plugins and example dependencies
        working-directory: plugins
        run: |
          uv pip install --pre ./ray ./pytorch ./dask ./spark ./vllm ./sglang
          uv pip install --pre "../[examples-test]"  # Install flyte with example test dependencies
          uv pip list
      - name: Run integration tests
        env:
          FLYTE_SDK_CI_TOKEN: "${{ secrets.FLYTE_SDK_CI_TOKEN }}"
        run: |
          uv run python -m pytest -n 10 -v examples/integration_tests.py
