name: Lint and Import Profile Check

on:
  push:
    branches:
      - main
      - 'release-v**'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true


jobs:
  lint:
    name: make fmt
    runs-on: ubuntu-latest
    steps:
      - name: Fetch the code
        uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: ./.github/actions/setup-python-env
        with:
          python-version: '3.12'
      - name: Lint
        run: |
          make fmt
  mypy:
    name: make mypy
    runs-on: ubuntu-latest
    steps:
      - name: Fetch the code
        uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: ./.github/actions/setup-python-env
        with:
          python-version: '3.12'
      - name: mypy
        run: |
          make mypy
  cli-docs-gen:
    name: make cli-docs-gen
    runs-on: ubuntu-latest
    steps:
      - name: Fetch the code
        uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: ./.github/actions/setup-python-env
        with:
          python-version: '3.12'
      - name: Generate docs
        run: |
          make cli-docs-gen
  uv-lock-check:
    name: check uv.lock
    runs-on: ubuntu-latest
    steps:
      - name: Fetch the code
        uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: ./.github/actions/setup-python-env
      - name: Generate docs
        run: |
          uv lock --check
          uv lock --prerelease allow --check --directory plugins/connectors
#  # Disabled for now, as it is failing
#  check-import-profile:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Fetch the code
#        uses: actions/checkout@v4
#      - name: Set up Python 3.13
#        uses: actions/setup-python@v4
#        with:
#          python-version: 3.13
#      - name: Install dependencies
#        run: |
#          python -m pip install --upgrade pip
#          pip install uv
#          uv pip install --system -e .
#      - name: Run Import Profile Check
#        run: |
#          make check-import-profile
